.productPage {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
    max-width: 800px;
    margin: 10% auto;
    gap: 3%;
}

.productImage {
    max-width: 50%;
    height: auto;
    margin-bottom: 20px;
    object-fit: contain;
    align-self: center;
}

.productDescription {
    flex: 1;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.productTitle {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: left;
}

.productPrice {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.originalPrice {
    text-decoration: line-through;
    color: #888;
    margin-left: 10px;
}

.discount {
    color: green;
    margin-left: 10px;
}

.addToCartButton {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 4px;
}

.addToCartButton:hover {
    background-color: #0056b3;
}

.reviews {
    margin-top: 30px;
}

.reviews h3 {
    margin-bottom: 10px;
}

.reviews ul {
    list-style: none;
    padding: 0;
}

.reviews li {
    margin-bottom: 10px;
}

/* Simple loader styling */
.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #007bff;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* MEDIA QUERIES MOBILE */
@media only screen and (min-width: 0px) and (max-width: 767px) {
    .productPage {
        flex-direction: column;
    }

    .productImage {
        max-width: 100%;
        margin: 0;
    }
}
