.productCard {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    transition: transform 0.2s ease-in-out;
    cursor: pointer; /* Show pointer to indicate it's clickable */
}

.productCard:hover {
    transform: translateY(-5px); /* Slight hover effect */
}

.productCard:hover .productImage {
    transform: scale(1.4); /* Slightly scale the card on hover */
}

/* Image container with fixed dimensions */
.productImageContainer {
    height: 100%; /* Fixed height for all image containers */
    width: 100%; /* Image container will take full width of the card */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ensure that the image doesn't overflow */
}

.productImage {
    width: 100%;
    height: auto;
}

.productTitle {
    font-size: 1.3rem;
    font-weight: 600;
    margin: 10px 0;
    color: #333;
}

.productPrice {
    font-size: 1.1rem;
    font-weight: 500;
    color: #333;
    margin-bottom: 10px;
}

.originalPrice {
    text-decoration: line-through;
    color: #007bff;
    margin-left: 10px;
}
