/* Card layout */
.productCard {
    background-color: #fff;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 220px; /* Set max width for all product cards */
    height: 350px; /* Fixed height for consistency */
    padding-bottom: 10%;
    transition: transform 0.3s ease-in-out;
}

.productCard:hover .productImage {
    transform: scale(1.4); /* Slightly scale the card on hover */
}

/* Image container with fixed dimensions */
.productImageContainer {
    height: 100%; /* Fixed height for all image containers */
    width: 100%; /* Image container will take full width of the card */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ensure that the image doesn't overflow */
}

.productImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Title and Price styling */
.productTitle {
    font-size: 1.1rem;
    margin: 10px 0;
}

.productPrice {
    font-size: 0.9rem;
    margin-bottom: 10px;
}
