/* src/components/Header.module.css */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: white;
}

.logo {
    flex: 1;
    color: #007bff;
    font-size: 2rem;
    font-weight: bold;
}

.nav {
    flex: 2;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.link {
    text-decoration: none;
    color: #333; /* A modern blue color for an e-commerce site */
    font-size: 16px;
    font-weight: bold;
}

.cartIcon {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
