.productList {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Ensure 5 items per row */
    gap: 20px; /* Space between products */
}

.productLink {
    text-decoration: none; /* Remove default link styles */
    color: inherit; /* Inherit text color */
    display: block; /* Ensure the entire product card is clickable */
}

.homeFlex {
    display: flex;
    justify-content: center;
    padding: 0 10% 10% 10%;
}

.searchbar {
    /* background-color: #007bff; */
    padding: 1%;
    display: flex;
    justify-content: center;
}

.h1 {
    padding: 2% 0;
}
